io.jwt.decode_verify fails when an empty aud is present in the payload.

When attempting to run `io.jwt.decode_verify("JWT", constraints)` the verification of the jwt will fail if the payload contains an empty array. 

## Expected Behavior
The jwt is verified correctly and the payload is rendered

## Actual Behavior
when the and `aud` is added to the constraints object opa will render it as undefined when the `aud` is removed then the verification will fail.

## Steps to Reproduce the Problem

https://play.openpolicyagent.org/p/sffOuvhMLm

## Additional Info



Hey @TheLunaticScripter, thanks for reporting! Some interesting observations in your playground example. As for the failing ones, here's my take:

**When using the jwt with and empty aud**
**When the aud in the payload is an empty array and the aud in the constraint is passes as a string**
I _think_ these fail correctly - the issuer of the JWT is basically saying "no one is suitable to process this", so trying to verify that with an empty string/array as `aud` is akin to saying "well, I am no one so I can process this!". It should probably not fail silently though, so that seems like a bug.

**If the aud is not included in the constraints object it fails to verify**
That's [expected](https://www.openpolicyagent.org/docs/latest/policy-reference/#token-verification): 
> The audience that the verifier identifies with. If this is present then the aud claim is checked against it. If it is absent then the aud claim must be absent too.

As you pointed out in your comments, I believe the recommended approach for max flexibility is to verify and decode in two separate steps. That also provides complete control over how to deal with outlier cases like the above.

Yeah, I think that makes sense I think then it is possible that there may also be a bug in the sense that an empty string audience and an empty string in the constraints will successfully decode and verify. I also agree that it failing silently is not ideal. Thank you for your help and input @anderseknert.

Ah yeah, good point, and one I had missed from before. The `aud` claim as an empty string should be interpreted the same way as an empty array, I suppose. An alternative take would be that `"" == [""]`.. but since I don't think either should be valid it probably doesn't matter.

So two possible bugs then - failing silently on some `aud` claim validation errors, and accepting an empty string as `aud`.

@travisspencer - what's your take on the above? How would you treat `aud: ""`, `aud: `[]` and `aud: [""]`? Are they 1) the same and 2) valid?

Good question, @anderseknert . First, we have to know what JWT is this? If it's an ID token, then the OpenID Connect spec is what governs, specifically version 3.1.3.7 which says as step 4 of the ID token validation algorithm that:

>  The Client MUST validate that the aud (audience) Claim contains its client_id value registered at the Issuer identified by the iss (issuer) Claim as an audience. The aud (audience) Claim MAY contain an array with more than one element. The ID Token MUST be rejected if the ID Token does not list the Client as a valid audience, or if it contains additional audiences not trusted by the Client. 

I don't know for sure, but I'd also check step 5. Is this happening?

If this is not an OpenID Connect specified JWT, then RFC 7519 probably governs. (There could be other profiles in play, like UMA, HEART, etc.; I don't know.) There, it says in section 4.1.3:

> The "aud" (audience) claim identifies the recipients that the JWT is intended for.  Each principal intended to process the JWT MUST identify itself with a value in the audience claim.  If the principal processing the claim does not identify itself with a value in the "aud" claim when this claim is present, then the JWT MUST be rejected.  In the general case, the "aud" value is an array of case- sensitive strings, each containing a StringOrURI value.  In the special case when the JWT has one audience, the "aud" value MAY be a single case-sensitive string containing a StringOrURI value.

`StringOrURI` is defined in section 2 as:

> A JSON string value, with the additional requirement that while arbitrary string values MAY be used, any value containing a ":" character MUST be a URI [RFC3986].  StringOrURI values are compared as case-sensitive strings with no transformations or canonicalizations applied.

A JSON string is defined in RFC 8259 with this ABNF:

```
      string = quotation-mark *char quotation-mark
```

So, in all cases `""` and `[""]` are valid values. Should they be accepted depends on the client identifier. If the value matches the client ID, then it is valid. Appendix A.1 of RFC 6749 says that a client ID has this ABNF:

```
     client-id     = *VSCHAR
```

So, technically, a client could have an ID of `""`. Strange, but it is allowed by OAuth and OpenID Connect. RFC 6749 says in section 2.2:

> The authorization server issues the registered client a client identifier -- a unique string representing the registration information provided by the client...The client identifier is unique to the authorization server. The client identifier string size is left undefined by this specification. The client should avoid making assumptions about the identifier size. The authorization server SHOULD document the size of any identifier it issues.

So, if the client is given the ID `""` (unlikely), it will be the only one that has that ID at the OAuth server. 

So, all this together, what does it mean for this lib and is this a bug? `¯\_(ツ)_/¯`

Thank you @travisspencer! Insightful, as always 👍 

This is a generic JWT validation function so OIDC or some other specific profile can't be assumed. The purpose of the `io.jwt.decode_verify` function is kind of "please verify this JWT and make sure the standard claims are present where expected. If the policy author wants that he/she may verify the signature and the claims in separate steps instead and be as fine grained as they wish there.. and that's frankly the more common option as people most often want to add their custom claims validation anyway. 

We'll proceed with having `io.jwt.decode_verify` treating `""`/`[""]` as valid `aud` claim values then, but will reject `[]` as I don't think that should translate into `""`.

I totally agree and since this is the current behavior I'm going to close this. I think the only thing that possibly could be a thing to fix is to provide a better message when the `aud` an array but I think that the `--strict-builtin-errors` flag provides a great debugging path for this. I'm going to close this at this time.