Enhancement: Add 'quiet' flag to REST API "Get a Policy" call

Ref: https://www.openpolicyagent.org/docs/rest-api.html#get-a-policy

There are times, particularly when OPA is in a pool separate from a reliant server or process when it may become desynchronized and OPA either is new or restarted.  Without needing to have heavier weight synchronization tools, it would be convenient to have a 'quiet' flag which causes the body of a REST API call to become empty.  This allows a lighter weight check for if a policy has been uploaded.


An alternative to a `quiet` query parameter would be to support the `HEAD` HTTP method.

Could you link to some documentation for this?  I am unfamiliar with this kind of method.

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4

Small nit, RFC2616 has been deprecated. You should use https://tools.ietf.org/html/rfc7231#page-25. There are a few more considerations on the interactions of HEAD and caches of previous GETs. 

@repenno thanks for the nit. Are any of those considerations relevant here?

Not to OPA server. But If one is building a REST client for OPA it would be good to keep in mind that:

" The response to a HEAD request is cacheable; a cache MAY use it to
   satisfy subsequent HEAD requests unless otherwise indicated by the
   Cache-Control header field (Section 5.2 of [RFC7234]).  A HEAD
   response might also have an effect on previously cached responses to
   GET; see Section 4.3.5 of [RFC7234]."

We don't have plans to improve this in the near future. Closing for now.